{% extends 'base.html' %}

{% block head %}
<link href="https://unpkg.com/@triply/yasgui/build/yasgui.min.css" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/@triply/yasgui/build/yasgui.min.js"></script>

{% endblock head %}

{% block content %}
<section>

    <div>
        {% include "navbar.html" %}
    </div>
</section>
<section>

    <div id="yasgui"></div>
    <script>
        
        const yasgui = new Yasgui(document.getElementById("yasgui"), {
            requestConfig: { endpoint: "https://olympics120.herokuapp.com/olympics/sparql" },
            copyEndpointOnNewTab: false,
            
        });
        
    
    </script>
</section>




{% endblock %}